.tinyBox{
    /* height: 10vh; */
    width: 50px;
    transition: all .2s ease-in-out;
    
}
.showBoxes{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    
    /* justify-content: space-around; */
    flex-wrap:wrap;
    


}


.tinyBox:hover{
    transform: scaleX(1.089);
}
.showBoxes:hover .deleteBox{
    opacity: 1;
    z-index: 1000;
}

.deleteBox{
    position: absolute;
    top:5px;
    right: 10px;
    opacity: 0;
}