.tinyBox{
    /* height: 10vh; */
    width: 50px;
    transition: all .2s ease-in-out;
    
}
.showBoxes{
    display: flex;
    flex-direction: row;
    height: 100%;
    /* justify-content: space-around; */
    flex-wrap:wrap;
    


}

.tinyBox:hover{
    transform: scaleX(1.089);
}