.paletteBox{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 25vh;
    /* height: 200px; */
    /* background-color: lightcoral; */
    padding: .4rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    
    
}

.colorBox{
    flex-grow: 1;
    height: 94%;
   
}

.contentBox{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height: 15%;
}

.links{
    text-decoration: none;
    height: 100%;
}
.p-title{
    color: black;
}