.homePage{
    display: flex;
    /* justify-content: space-between; */
    /* background-color: cornflowerblue; */
    padding-top: 1rem;
    height: 100vh;
    font-family: 'New Rocker';
    overflow: hidden;
    
}
.sidebars{
    flex-grow: 3;
}
.outerBox{
    display: grid;
    grid-template-rows: 2fr;
}
.homeheader{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.homeheader h1 {
    margin-left: 2rem;
}
.homeheader-fab {
    margin-right: 2rem;
}
.homeheader-fab a {
    text-decoration: none;
}
.palicon{
    margin-right: .5rem;
}

.innerBox{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 75vw;
    height: 90vh;
    overflow-x: hidden;
    border-radius: 5px;
    padding-bottom: 2rem;
   
    /* flex-direction: column; */
    
   

}
